:root {
	--base: #ffc600;
	--spacing: 10px;
	--blur: 10px;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.high-light {
	color: var(--base);
}


body {
	text-align: center;
	background: #2B6794;
	color: white;
	font-family: 'helvetica-neue', sans-serif;
	font-weight: 100;
	font-size: 50px;
	
	
}

img {
	width: 90vw;
	height: 70vh;
	margin: 50px auto;
	border: 2px solid #FFE300;
}

input {
	width: 100px;
}


.controls {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	
	padding: 0 40px;
}
